.header {
    background-color: var(--primary-color);
    min-height: 116px;
  }
  
.input__search {
    width: 100%;
    height: 60px;
}
  
.header__action_lists {
    color: var(--white-color);
}
  
.header {
    background-color: var(--primary-color); 
}
  
.form-control {
    height: 60px; 
}

.header__action__cart:hover {
    transform: scale(1.05); 
}
