.introduction {
    width: 100%;
    min-height: 80vh;
    background-image: url('../images/introduction/introduction_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0;
    position: relative;
}

.introduction__slider {
    padding: 10px 0 !important;
}

.introduction .row {
    margin: 0;
    padding: 1rem 0;
}

.introduction__left, .introduction__right {
    padding: 0 !important;
    margin: 0 !important; 
}

.introduction__left__title {
    font-size: 5.938rem;
}

.introduction__left__title--highlight {
    color: var(--primary-color);
    font-weight: bolder;
}

.introduction__left__robot {
    width: 30%;
    height: auto;
}

.introduction__left__robot__lightning {
    filter: drop-shadow(5px 5px 40px rgba(250, 150, 0, 1));
}

.introduction__left__robot__body {
    filter: drop-shadow(10px 10px 40px rgba(250, 90, 10, 0.6667));
} 

.introduction__left__button {
    width: 18vw;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 3.75rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.introduction__left__button:hover {
    scale: 1.05;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
    width: 30px !important;
    border-radius: 40px !important;
}

@media (max-width: 1024px) {
    .introduction {
        min-height: 0;
    }

    .introduction {
        padding: 0;
    }

    .introduction__left__header{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .introduction__left__title {
        text-align: center;
        font-size: 5rem;
    }

    .introduction__left__button {
        margin: 2rem auto;
        align-self: center;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .introduction__left__title {
        text-align: center;
        font-size: 4rem;
    }

    .introduction__left__button {
        width: 60%;
        margin: 2rem auto;
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .introduction {
        min-height: 0;
    }

    .introduction__left__title {
        text-align: center;
        font-size: 3rem;
    }

    .introduction__left__robot__lightning {
        width: 100px;
        height: 60px;
    }

    .introduction__left__robot__body {
        width: 140px;
        height: 140px;
    } 

    .introduction__left__button {
        width: 80%;
        margin: 2rem auto;
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }
}
